.title {
    font-weight: 700;
    font-size: 30px;
    color: $text-color;
    text-align: center;
    text-transform: uppercase;
    &_left {
        text-align: start;
        font-size: 36px;
        color: #fff;
    }
}